body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #1f2937;
  width: 100%;
  height: 40%;
  flex-wrap: wrap;
}
main {
  width: 100%;
  height: 58%;
}
#div1 {
  height: 35%;
}
#div2 {
  height: 35%;
  background-color: #e5e7eb;
}
#div3 {
  height: 30%;
}
footer {
  background-color: #1f2937;
  height: 7%;
}
nav {
  display: inline-block;
  height: 10%;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}
nav h3 {
  margin-left: 80px;
  display: inline-block;
  color: #f9faf8;
  font-size: 24px;
}
li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  margin: 0;
  margin-left: 900px;
  display: inline-block;
}
