body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #1f2937;
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
}
main {
  width: 100%;
  height: 58%;
}
#div1 {
  height: 35%;
}
#div2 {
  height: 35%;
  background-color: #e5e7eb;
}
#div3 {
  height: 30%;
}
footer {
  background-color: #1f2937;
  height: 7%;
}
nav {
  display: inline-block;
  height: 10%;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}
nav h3 {
  margin-left: 80px;
  display: inline-block;
  color: #f9faf8;
  font-size: 24px;
}
li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  margin: 0;
  margin-left: 900px;
  display: inline-block;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
#hero-text {
  height: 200px;
  width: 600px;
  margin-bottom: 60px;
  padding: 28px;
}
#hero-image {
  display: flex;
  height: 200px;
  width: 600px;
  margin-bottom: 50px;
  background-color: #d8d5d5;
  justify-content: center;
  align-items: center;
}
#hero-text h2 {
  font-size: 48px;
  margin: 5;
  color: #f9faf8;
  font-weight: 900;
}
#hero-text p {
  font-size: 24px;
  margin: 5;
  color: #d8d5d5;
  margin-bottom: 10px;
}
#hero-text button {
  padding: 10px 20px;
  font-size: 18px;
  color: #1f2937;
  background-color: #e5e7eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
